body{
    background: linear-gradient(to right, #35355c, #454588);

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#page-title{
    width: 410px;
    margin-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    font-size: 40px;
    color: white;
}

#page-content{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

.popup-container{
    margin: auto;
}

.popup-box {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    padding: 10px;
    color: #fff;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #35355c;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    font-size: 22px;
    margin: 10px 0 5px 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .popup-box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.box{
    width: 300px;
    padding: 10px 18px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;

    color: #dddddd;
    font-weight: 300;
    border-radius: 20px;
    transition: 0.5s;
}

.box:hover{
    scale: 105%;
}

.box-title{
    margin: 5px 0;
}



#intro{
    border: 3px solid #0095ff;
    .box-title{
        color: #0095ff;
    }
}

#disinformazione{
    border: 3px solid #ff5900;
    .box-title{
        color: #ff5900;
    }
}

#ia_content{
    border: 3px solid #d66cff;
    .box-title{
        color: #d66cff;
    }
}

#combattere{
    border: 3px solid #13ffaa;
    .box-title{
        color: #13ffaa;
    }
}

#rischi{
    border: 3px solid #ffc813;
    .box-title{
        color: #ffc813;
    }
}

#conclusioni{
    border: 3px solid #ff6d13;
    .box-title{
        color: #ff6d13;
    }
}